<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="resume.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" href="../images/favicon.ico" >
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
          <ul class="navigation__list" style="background-color: #FEC8D8;">
            <li class="navigation__item" style="float: none;"><a href="../index.html" class="navigation__link"><h2>ABOUT_ME</h2></a></li>
            <li class="navigation__item" style="float: none;"><a href="resume.html" class="navigation__link"><h2>RESUME</h2></a></li>
            <li class="navigation__item" style="float: none;"><a href="project.html" class="navigation__link"><h2>PROJECTS</h2></a></li>
            <li class="navigation__item" style="float: none;"><a href="mailto:hananoorudheen721@gmail.com" class="navigation__link"><h2>CONTACT_ME</h2></a></li>
    
          </ul>
        </nav>
    </div>









    <div class="navbar">
        <ul>

            <li><a class="navh"  href="mailto:hananoorudheen721@gmail.com">CONTACT</a></li>
            <li><a class="navh" href="project.html">PROJECTS</a></li>
            <li><a class="navh" href="resume.html">RESUME</a></li>
            <li><a class="navh" href="../index.html">ABOUT ME</a></li>
            
             
            
            
            <li style="float:left"><a class="headname" href="../index.html"><div class="circle"></div>Hana <span  style="font-family: 'Roboto Slab' ,serif;font-size: 1.3rem;" > / Btech Student</span></a></li>
          </ul>
    </div>
    <div class="home">
        <div class="heading">
            <div class="circleh"></div>
            <div class="head">
                <h1 class="headname">Resume</h1>
            </div>          
        </div>

        <div class="subhead">
            <h2 style="font-size: 1.5rem;padding-top: 6px;float: left;"  class="headname">Experience</h2>
             <a href="RESUME.pdf" class="btn" style="float: right;" download target="blank">DOWNLOAD CV</a>
        </div>
       <div class="container">
           <div class="container_left">
               <div class="subleft">
                   <h1 class="textprimary">
                    2019 - Present</h1>
                    <p class="textsecondary"  style=" padding-top: 10%;"></p>
                    <p class="textsecondary" style="font-size: 1rem; padding-top: 10%;"></p>
               </div>
           </div>
           <div class="container_right">
               <div class="subright">
                   <p class="textsecondary" style="color:#777">
                    -Have worked in volunteering committe in National Service Scheme.<br>
                    -Participated in Python and Computer Vision Bootcamp<br>
                    -Participated in Student Training Program by spoken tutorial project at IIT Bombay.<br>

                </p>
               </div>
           </div>
       </div>




       <div class="subhead">
        <h2 style="font-size: 1.5rem;padding-top: 6px;float: left;"  class="headname">Education</h2>
        
    </div>
   <div class="container" style="margin-bottom: -9%;">
       <div class="container_left">
           <div class="subleft">
               <h1 class="textprimary">
                2019 - Present</h1>
                <p class="textsecondary" style="padding-top: 10%;">CUSAT</p>
                <p class="textsecondary" style="font-size: 1rem;padding-top: 10%">Kochi,India</p>
           </div>
       </div>
       <div class="container_right">
           <div class="subright">
               <p class="textsecondary" style="color:#777">
                Currently studying for B.tech,Computer Science and Engineering.Expected to graduate in 2023.
                Current GPA 9.3.
                
            </p>
           </div>
       </div>
   </div>

     
   
   <div class="container">
    <div class="container_left">
        <div class="subleft">
            <h1 class="textprimary">
             2016-2018</h1>
             <p class="textsecondary" style="padding-top: 10%">PLACID VIDYA VIHAR</p>
             <p class="textsecondary" style="font-size: 1rem;padding-top: 10%">Kottayam,Kerala</p>
        </div>
    </div>
    <div class="container_right">
        <div class="subright">
            <p class="textsecondary" style="color:#777">
                Completed High School Education.
                Securing 85.4%.
           </p>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom: -9%;height: 500px;">
   <div class="topdiv">
     <div class="tophead"><h1>Technical Skills</h1></div>
     <div class="container_left cleft" >
    <ul class="bullet">
        <li> <p class="bullethead" style="color:#777;">HTML</p></li>
        
    </ul>
    <ul class="bullet">
        <li> <p class="bullethead" style="color:#777;">CSS</p></li>
        
    </ul>
    </div>
     <div class="container_right cright" >
        <ul class="bullet">
            <li> <p class="bullethead" style="color:#777;">JAVA</p></li>
            
        </ul>
        <ul class="bullet">
            <li> <p class="bullethead" style="color:#777;">C++</p></li>
            
        </ul>
    </div>
    </div>
    
    
   <div class="bottomdiv">

    <div class="tophead"><h1>Languages</h1></div>
    <div class="container_left cleft" >
        <ul class="bullet">
            <li> <p class="bullethead">English</p></li>
            
        </ul>
        <ul class="bullet">
            <li> <p class="bullethead" ">Hindi</p></li>
            
        </ul>
    
    
    </div>
     <div class="container_right cright">
        <ul class="bullet">
            <li> <p class="bullethead">Malayalam</p></li>
            
        </ul>
        <ul class="bullet">
            <li> <p class="bullethead" >Tamil</p></li>
            
        </ul>
    
    </div>
   </div>
</div>


</div>

<div class="footer">
    <div class="grid-container" >
             <div class="item1" >
            <p class="copy">© 2021 by Hana Noorudheen.</p>
            </div>

        <div class="item">
            <h4  class="footerh">Call</h4>
            <a class="footersub" href="tel:8086876572">+91-8086876572</a>
        </div>

        <div class="item" >
            <h4 class="footerh">Write</h4>
            <a class="footersub"href="mailto:hananoorudheen721@gmail.com">Mail@me</a>
        </div> 

        <div class="item" >
            <h4 class="footerh">Follow</h4>
            <a href="https://github.com/noorhana123"  target="blank"><img class="footerlogo" src="../images/github.png" ></a>
            <a href="https://www.instagram.com/noor__hanaa/"  target="blank"><img class="footerlogo" src="../images/instagram.png" ></a>
            <a href="https://www.linkedin.com/in/hana-noorudheen-5b6361194/"  target="blank"><img class="footerlogo" src="../images/linkedin.png" ></a>
        </div>
        
</div>
</body>
</html>